@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
  font-family: "Merri";
  src: url(../fonts/Merriweather-Light.ttf);
}
html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:visited {
  color: rgb(252, 252, 252);
}

body {
  background: url(../img/bg.jpg) fixed center/cover;
  text-align: center;
  font-family: "Merri", serif;
  max-width: 1300px;
  margin: 0 auto;
}
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(17, 17, 17);
  opacity: 1;
  -webkit-animation: animBody 1.5s ease forwards;
          animation: animBody 1.5s ease forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes animBody {
  to {
    opacity: 0;
  }
}
@keyframes animBody {
  to {
    opacity: 0;
  }
}

.btn {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.568);
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 25px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 1px solid rgb(17, 17, 17);
}

header {
  color: rgb(252, 252, 252);
  position: relative;
  min-height: 100vh;
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-animation: headerAnim 1.5s forwards;
          animation: headerAnim 1.5s forwards;
}
@-webkit-keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes headerAnim {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
header h1 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.3rem;
  letter-spacing: 6px;
}
header p {
  font-size: 0.8rem;
  width: 80%;
  margin: 40px 0 35px;
  font-style: italic;
}
header span {
  border: 1px solid rgb(252, 252, 252);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

img {
  width: 50%;
}/*# sourceMappingURL=style.css.map */